.container {
    padding: 20px;
    background-color: #fff;
    color: #aaa;
}

.result {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
    color: green;
}

#error-message {
    color: red;
}

label {
    font-size: 20px;
}

textarea {
    margin: 10px 0;
    color: "#aaa";
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 10px;
    background-color: #008cba;
    color: #fff;
    border: none;
    cursor: pointer;
}
