.container {
    padding: 20px;
    background-color: #fff;
    color: #aaa;
}

.result-para {
    color: green;
}

.error-alert {
    color: red;
}

label {
    font-size: 20px;
}

textarea {
    margin: 10px 0;
    color: "#aaa";
}

button[type="submit"] {
    padding: 10px;
    background-color: #008cba;
    color: #fff;
    border: none;
}
